<%var i=0 %><% if(typeof inbox != 'undefined') {%>
<form class="btn-delete-all" action="/users/inbox/delete-all" method="POST">
  <button type="submit">
    <img class="icon--delete" src="../images/delete-all-icon.png" />
  </button>
</form>

<%inbox.forEach( function(email){%>
<div>
  <img
    class="icon <%= email.fav? 'icon-fav': '' %> icon--float--left"
    src="../images/fav-add-icon.png"
    onclick="addToFav('inbox',<%=i%>)"
  /><a href="/inbox/<%=i%>"
    ><label class="list-mail">
      <span
        id="view"
        name="view"
        class="list-email <%=inbox[i].read==true ? '': 'unread'%>"
        ><%=email.from%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  >
  <form
    class="btn-delete"
    action="/users/inbox/delete-one/<%=i%>"
    method="POST"
  >
    <button type="submit">
      <img class="icon--delete" src="../images/delete-icon.png" />
    </button>
  </form>
</div>
<%i++%> <% })%> <%}%> <% if(typeof sent != 'undefined') {%>
<form class="btn-delete-all" action="/users/sent/delete-all" method="POST">
  <button type="submit">
    <img class="icon--delete" src="../images/delete-all-icon.png" />
  </button>
</form>
<%sent.forEach( function(email){%>
<div>
  <a href="/sent/<%=i%>">
    <label class="list-mail"
      ><span href="/sent/<%=i%>" data-role="button" class="list-email"
        ><%=email.to%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  >
  <form class="btn-delete" action="/users/sent/delete-one/<%=i%>" method="POST">
    <button type="submit">
      <img class="icon--delete" src="../images/delete-icon.png" />
    </button>
  </form>
</div>
<%i++%> <%})%> <%}%> <% if(typeof fav != 'undefined') {%> <%fav.forEach(
function(email){ %> <%if(email.fav){%>
<div>
  <img
    class="icon <%= email.fav? 'icon-fav': '' %> icon--float--left"
    src="../images/fav-add-icon.png"
    onclick="addToFav('inbox',<%=i%>)"
  /><a href="/fav/<%=i%>"
    ><label class="list-mail">
      <span
        id="view"
        name="view"
        class="list-email <%=fav[i].read==true ? '': 'unread'%>"
        ><%=email.to%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  >
  <form
    class="btn-delete"
    action="/users/inbox/delete-one/<%=i%>"
    method="POST"
  >
    <button type="submit">
      <img class="icon--delete" src="../images/delete-icon.png" />
    </button>
  </form>
</div>
<%}%><%i++%><%})%> <%}%> <% if(typeof unread != 'undefined') {%>
<%unread.forEach( function(email){%><%if(!email.read){%>
<div>
  <img
    class="icon <%= email.fav? 'icon-fav': '' %> icon--float--left"
    src="../images/fav-add-icon.png"
    onclick="addToFav('inbox',<%=i%>)"
  /><a href="/unread/<%=i%>"
    ><label class="list-mail">
      <span
        id="view"
        name="view"
        class="list-email <%=unread[i].read==true ? '': 'unread'%>"
        ><%=email.from%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  >
  <form
    class="btn-delete"
    action="/users/inbox/delete-one/<%=i%>"
    method="POST"
  >
    <button type="submit">
      <img class="icon--delete" src="../images/delete-icon.png" />
    </button>
  </form>
</div>
<%}%><%i++%> <% })%> <%}%> <% if(typeof deleted != 'undefined') {%>
<form class="btn-delete-all" action="/users/deleted/delete-all" method="POST">
  <button type="submit">
    <img class="icon--delete" src="../images/delete-all-icon.png" />
  </button>
</form>
<%deleted.forEach( function(email){%>
<div>
  <a href="/deleted/<%=i%>">
    <label class="list-mail"
      ><span href="/deleted/<%=i%>" data-role="button" class="list-email"
        ><%=email.to%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  >
  <form
    class="btn-delete"
    action="/users/deleted/delete-one/<%=i%>"
    method="POST"
  >
    <button type="submit">
      <img class="icon--delete" src="../images/delete-icon.png" />
    </button>
  </form>
</div>
<%i++%> <%})%> <%}%>
