<%var i=0 %><% if(typeof inbox != 'undefined') {%><a
  onclick="deleteAll('inbox')"
  ><img src="../images/delete-all-icon.png"
/></a>

<%inbox.forEach( function(email){%>
<div>
  <img
    class="icon <%= email.fav? 'icon-fav': '' %> icon--float--left"
    src="../images/fav-add-icon.png"
    onclick="addToFav('inbox',<%=i%>)"
  /><a href="/inbox/<%=i%>"
    ><label class="list-mail hover">
      <span
        id="view"
        name="view"
        class="list-email <%=inbox[i].read==true ? '': 'unread'%>"
        ><%=email.from%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  ><img
    class="icon--delete"
    onclick="deleteOne('inbox',<%=i%>)"
    src="../images/delete-icon.png"
  />
</div>
<%i++%> <% })%> <%}%> <% if(typeof sent != 'undefined') {%><a
  onclick="deleteAll('sent')"
  ><img src="../images/delete-all-icon.png"
/></a>
<%sent.forEach( function(email){%>
<div>
  <a href="/sent/<%=i%>">
    <label class="list-mail hover"
      ><span href="/sent/<%=i%>" data-role="button" class="list-email"
        ><%=email.to%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  ><img
    class="icon--delete"
    onclick="deleteOne('sent',<%=i%>)"
    src="../images/delete-icon.png"
  />
</div>
<%i++%> <%})%> <%}%> <% if(typeof fav != 'undefined') {%> <%fav.forEach(
function(email){ %> <%if(email.fav){%>
<div>
  <img
    class="icon <%= email.fav? 'icon-fav': '' %> icon--float--left"
    src="../images/fav-add-icon.png"
    onclick="addToFav('inbox',<%=i%>)"
  /><a href="/fav/<%=i%>"
    ><label class="list-mail hover">
      <span
        id="view"
        name="view"
        class="list-email <%=fav[i].read==true ? '': 'unread'%>"
        ><%=email.to%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  ><img
    class="icon--delete"
    onclick="deleteOne('inbox',<%=i%>)"
    src="../images/delete-icon.png"
  />
</div>
<%}%><%i++%><%})%> <%}%> <% if(typeof unread != 'undefined') {%>
<%unread.forEach( function(email){%><%if(!email.read){%>
<div>
  <img
    class="icon <%= email.fav? 'icon-fav': '' %> icon--float--left"
    src="../images/fav-add-icon.png"
    onclick="addToFav('inbox',<%=i%>)"
  /><a href="/unread/<%=i%>"
    ><label class="list-mail hover">
      <span
        id="view"
        name="view"
        class="list-email <%=unread[i].read==true ? '': 'unread'%>"
        ><%=email.from%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  ><img
    class="icon--delete"
    onclick="deleteOne('inbox',<%=i%>)"
    src="../images/delete-icon.png"
  />
</div>
<%}%><%i++%> <% })%> <%}%> <% if(typeof deleted != 'undefined') {%><a
  onclick="deleteAll('deleted')"
  ><img src="../images/delete-all-icon.png"
/></a>
<%deleted.forEach( function(email){%>
<div>
  <a href="/deleted/<%=i%>">
    <label class="list-mail hover"
      ><span href="/deleted/<%=i%>" data-role="button" class="list-email"
        ><%=email.to%></span
      >
      <span data-role="button" class="list-sb"><%=email.sb%></span></label
    ></a
  ><img
    class="icon--delete"
    onclick="deleteOne('deleted',<%=i%>)"
    src="../images/delete-icon.png"
  />
</div>
<%i++%> <%})%> <%}%>
