<%# messages.ejs to show errors @author Tushar %> <% if(typeof errors !=
'undefined') {%> <%errors.forEach( function(error){%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <span><%= error.msg %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }); %> <% } %> <%if(success_msg!=''){ var msg=success_msg%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <span><%= success_msg %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%> <%if(error_msg!=''){%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <span><%= error_msg %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%> <%if(alert_msg!=''){%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <span><%= alert_msg %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%> <%if(error!=''){%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <span><%= error %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%>
