<%# home.ejs main page after login
    @author Tushar, Akrit
%>
<div class="modal fade" id="send-alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Is everything right?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>To:</p>
                <p><input id="send-check-1" type="checkbox" />
                    <label for="send-check-1">Email Address</label> </p>
                <p>Body:</p>
                <p><input id="send-check-2" type="checkbox" />
                    <label for="send-check-2">Greeting</label> </p>
                <p><input id="send-check-3" type="checkbox" />
                    <label for="send-check-3">Message</label> </p>
                <p><input id="send-check-4" type="checkbox" />
                    <label for="send-check-4">Conclusion</label> </p>
                <p><input id="send-check-5" type="checkbox" />
                    <label for="send-check-5">Write a letter closing</label> </p>
                <div class="input-group-text page-header help--yellow" id="help-yellow">
                    Mark every checkbox before sending the email.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-no" data-dismiss="modal">
                    No
                </button>
                <button type="submit" form="compose" id="btn-yes" class="btn btn-primary">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <label for="check" class="checkbtn">
        <input type="checkbox" id="check" onclick="navSwipe()">
        <i class="fas fa-bars"></i>
    </label>
    <div class="row content">
        <div class="menu-m">
            <ul>
                <a class="btn btn-primary btn-compose" onclick="showCompose()" role="button">
                    New message
                </a>
                <li> <a href="/inbox" class="tab-m"><i class="icon far fa-envelope"></i> Inbox
                        </span></a></li>
                <li> <a href="/sent" class="tab-m"> <i class="icon far fa-paper-plane"></i> Sent
                        Items
                    </a></li>
                <li> <a href="/fav" class="tab-m"><i class="icon far fa-heart"></i> Favorites</a>
                </li>
                <li> <a href="/unread" class="tab-m"><i class="icon fas fa-mail-bulk"></i>
                    Unread Emails<% if( typeof badge!='undefined' && badge >0){%> <span
                class="badge-unread"><%=badge%><%}%></span></a></li>
                <li> <a href="/deleted" class="tab-m" onclick=""> <i class="icon fas fa-trash-alt"></i> Deleted Emails
                    </a></li>
                <%if(typeof type!='undefined'){%><%if(type=='Specialist'){%>
                <li> <a  href='/manage-acc' class="tab-m">
                    <i class="icon fas fa-user-cog"></i> Manage Accounts</a>
                </li><%}%><%}%>
                <%if(typeof type!='undefined'){%><%if(type !='Specialist'){%>
                <li> <a class="tab-m" onclick="helpGenerate('help')">
                    <i class="icon far fa-question-circle"></i> Help</a>
                </li><%}%><%}%>
                <br>
                <%- include ("./partials/progress")%>
                <br>
                <p class="lead mb-3"><%if (typeof name !='undefined'){%><%=name %><%}%></p>
                <a href="/users/logout" class="btn btn-secondary" onclick="return confirmLogout()">Logout</a>
            </ul>
        </div>
        <div class="menu" id="left">
            <ul>
                <a class="btn btn-primary btn-compose" onclick="showCompose()" role="button">
                    New message
                </a>
                <li> <a href="/inbox" class="tab">
                    <i class="icon far fa-envelope"></i> Inbox
                    </a>
                </li>
                <li> <a href="/sent" class="tab">
                    <i class="icon far fa-paper-plane"></i> Sent
                        Items
                    </a>
                </li>
                <li> <a href="/fav" class="tab">
                    <i class="icon far fa-heart"></i> Favorites
                    </a>
                </li>
                <li> <a href="/unread" class="tab">
                    <i class="icon fas fa-mail-bulk"></i>
                    Unread Emails<% if( typeof badge!='undefined' && badge >0){%> <label
                    class="badge-unread"><%=badge%><%}%></span></a>
                </li>
                <li> <a href="/deleted" class="tab" onclick="">
                    <i class="icon fas fa-trash-alt"></i> Deleted Emails
                    </a>
                </li>
                <%if(typeof type!='undefined'){%><%if(type=='Specialist'){%>
                <li> <a href='/manage-acc' class="tab">
                    <i class="icon fas fa-user-cog"></i>Manage Accounts</a>
                </li><%}%><%}%>
                <%if(typeof type!='undefined'){%><%if(type !='Specialist'){%>
                <li> <a class="tab" onclick="helpGenerate('help')">
                    <i class="icon far fa-question-circle"></i> Help</a>
                </li><%}%><%}%>
                <br>
                <%- include ("./partials/progress")%>
                <br>
                <p class="lead mb-3"><%if (typeof name !='undefined'){%><%=name %><%}%></p>
                <a href="/users/logout" class="btn btn-secondary"  onclick="return confirmLogout()">Logout</a>
            </ul>
        </div>
        <div  id="middle-m">
            <%- include ("./partials/emails")%> 
            <%- include ("./partials/manageAcc")%>
        </div>
        <div id="middle">
            <%- include ("./partials/emails")%>
            <%- include ("./partials/manageAcc")%>
        </div>
        <div class="" id="right">
            <%- include ("./partials/messages") %>
            <form id="compose" action="/users/send" method="POST" onsubmit=" return validate()">
                <p class="help--yellow">Did you know clicking on To, Cc, (?)Subject, Greeting, Message, or Closing
                    shows hints?
                </p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text btn-help" id="basic-addon1" onclick="helpGenerate('to')">To</span>
                    </div>
                    <input type="email" id="to" name="to" class="form-control" placeholder="To"
                        value="<%= typeof to != 'undefined' ? to : '' %>" required />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text btn-help" id="basic-addon1" onclick="helpGenerate('cc')">Cc</span>
                    </div>
                    <input type="email" id="cc" name="cc" class="form-control" placeholder="Cc"
                        value="<%= typeof cc != 'undefined' ? cc : '' %>" />
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text btn-help" id="basic-addon1" onclick="helpGenerate('subject')">?</span>
                    <input type="text" id="sb" name="sb" class="form-control" placeholder="Subject"
                        value="<%= typeof sb != 'undefined' ? sb : '' %>" />
                </div>
                <div class="input-group mb-3">
                    <label class="myLabel" for="body">
                        <p class="btn-help" onclick="helpGenerate('greeting')">Greeting</p>
                        <br>
                        <p class="btn-help" onclick="helpGenerate('message')">Message</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class="btn-help" onclick="helpGenerate('closing')">Closing</p>
                    </label>
                    <textarea type="text" id="msg" name="msg" class="form-control" placeholder=""
                        value="<%= typeof msg != 'undefined' ? msg : '' %>" row="12"></textarea>
                </div>
                <span onclick="sendConfirm()" class="btn btn-primary btn-send">
                    Send
                </span>
                <button type="button" class="btn btn-primary btn-back" onclick="return back();">
                    Discard
                </button>
                <button type="button" class="btn btn-primary btn-example" onclick="helpGenerate('example')">
                    Example
                </button>
            </form>
            <%- include ("./partials/viewEmail")%>
        </div>
    </div>
</div>